{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container text-center bg-success mt-2 mb-2 p-4">
    <h1 class="text">Home</h1>
    <div class="divider"></div>
    <div class="bg-danger">
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Projeto</th>
                <th scope="col">Data Inicio</th>
                <th scope="col">Data Fim</th>
                <th scope="col">% Completo</th>
                <th scope="col">Atrasado</th>
              </tr>
            </thead>
            <tbody>
            {% for projeto in projetos %}
                <tr>
                    <th scope="row">{{ projeto.projeto.id }}</th>
                    <td><a class="link" href="{% url 'appprojeto:projeto' projeto.projeto projeto.projeto.id %}">{{ projeto.projeto }}</a></td>
                    <td>{{ projeto.projeto.data_inicio }}</td>
                    <td>{{ projeto.projeto.data_fim }}</td>
                    <td>{{ projeto.perc}}%</td>
                    <td>{{ projeto.atrasado}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}