{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container text-center mt-3 mb-2 p-4">
    <h1 style="font-size: 4em;" class="text text-primary font-weight-bold"">ARTIA</h1>
    <div class="divider mb-5"></div>
    <div class="table-responsive">
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Projeto</th>
                <th scope="col">Data Inicio</th>
                <th scope="col">Data Fim</th>
                <th scope="col">% Completo</th>
                <th scope="col">Atrasado</th>
              </tr>
            </thead>
            <tbody>
            {% for projeto in projetos %}
                <tr>
                    <th scope="row">{{ projeto.projeto.id }}</th>
                    <td><a class="link" href="{% url 'appprojeto:projeto' projeto.projeto projeto.projeto.id %}"><button class="btn btn-outline-primary btn-sm">{{ projeto.projeto }}</button></a></td>
                    <td class="text text-info">{{ projeto.projeto.data_inicio }}</td>
                    <td class="text text-warning">{{ projeto.projeto.data_fim }}</td>
                    <td>{{ projeto.perc}}%</td>
                    <td class="text {% if projeto.atrasado == 'Sim' %}text-danger{% else %}text-success{% endif %}">
                        {{ projeto.atrasado}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-md-right m-2"><a style="text-decoration: none;" href="{% url 'appprojeto:projeto_add' %}"><button type="button" class="btn btn-primary">+</button></a></div>
</div>

{% endblock %}